<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <title> Entrance</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <style>
        body, html {
            height: 100%;
        }
    </style>
</head>

<body class="bg-gradient-primary ">

<div class="container d-flex h-100">
    <div class="row align-self-center w-100">

        <div class="jumbotron ">
            <div class="card-body">

                <div class="d-grid gap-2 col-6 mx-auto">
                    <div class="text-center">
                        <h1 class="h4 text-gray-900 mb-4">Start Ride!</h1>
                    </div>
                    <form action="#" th:action="@{/entrance}" th:object="${payment}" method="post"
                          class="user needs-validation" novalidate>

                        <input type="hidden" th:field="*{entranceTerminal}">
                        <!-- Row 1-->
                        <div class="form-group row">
                            <div class="col-sm-12 mb-3 mb-sm-0">
                                <input style=" height:100px;  font-size: 50px;" name="paymentMethod" type="text"
                                       class="form-control text-center" id="paymentMethod" placeholder="Card Number"
                                       autofocus required>

                            </div>

                        </div>

                        <button class="btn btn-primary btn-user btn-block invisible" type="submit">
                            Entrance
                        </button>

                    </form>
                </div>


            </div>
        </div>

    </div>
</div>
<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


<script th:inline="javascript">
    /*<![CDATA[*/
    var response = [[${response}]];
    //  alert(response);
    console.log(response);
    if (response.action === true) {
        swal({
            title: "Safe Drive!",
            text: "Thank You! Take care ",
            icon: "success",
            timer: 3000
        });
    } else {
        swal({
            title: "Check Again.!",
            text: response.data,
            icon: "error",
            timer: 3000
        });
    }
    $('#paymentMethod').focus();
    /*]]>*/


    (function () {
        'use strict';
        window.addEventListener('load', function () {
            var forms = document.getElementsByClassName('needs-validation');

            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>
</body>

</html>