server:
  port: 9191
spring:
  application:
    name: authorization
  datasource:
    url: jdbc:mysql://auth-db:3306/vehiclepasser_auth?createDatabaseIfNotExist=true
    username: root
    password: 1234
    driver-class-name: com.mysql.jdbc.Driver
    initialization-mode: always
    continue-on-error: true
  jpa:
    hibernate:
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
    properties:
      hibernate:
        show_sql: true
        format_sql: true
logging:
  level:
    org:
      hibernate:
        type: trace
eureka:
  client:
    register-with-eureka: true
    fetch-registry: true




